@use "@/styles/variables" as vars;

.filtersGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: vars.$colorLight;
  border: vars.$brdLight;
  border-radius: vars.$brdR_05;
  padding: vars.$paddingSmall;
  margin-top: vars.$paddingStandard;

  .dropDownMenusBlock, .inputsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }
}